.card{
    background-color: white;
    border-radius: 8px;
    width: 270px;
    height: 250px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: -3px 8px 15px grey;
    padding: 0;
    display: inline-block;
    transition: all ease-in-out;
}
.card:hover{
    background-color: grey;
    border-radius: 8px;
    width: 270px;
    height: 250px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: -3px 8px 15px grey;
    padding: 0;
    display: inline-block;
    transition-duration: .5s;
}
/* Box shadow for shadowing, first and second parameter is x and y,  third is blue and fourth is color */

.size-of-card{
    padding: 0;
    width: 270px;
    height: 250px;
}

/* In top card border radius used to keep card bordered  */
.top-card{
    padding: 0;
    border-radius: 8px 8px 0 0; 
    box-shadow: 0px 2px 8px grey;
    /* background-color: aqua; */
    width: auto;
    height: 30px;
    margin: 0;
}

.cardPlaying{
    background-color: white;
    border-radius: 8px;
    width: 270px;
    height: 250px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: -3px 8px 15px red;
    padding: 0;
    display: inline-block;
}

.middle-card{
    padding: 0;
    margin: 0;
    border-radius: 0 0 0 0;
    width: auto;
    height: 155px;
    /* background-color: red; */
}

.bottom-card{
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
    height: 65px;
    width: auto;
    overflow: hidden;
}

.card-text{
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text-name{
    margin-right: 10px;
    padding: 0;
    float: right;
    display: inline;
}

.card-text-time{
    padding: 0;
    margin-left: 10px;
    margin-top: 3px;
    display: inline-block;
}

.card-text-views{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    
    overflow: hidden;
}

.card-views{
    width: 90px;
    height: 30px;
    /* background-color: blueviolet; */
    float: inline-end;
}

.card-image{
    background-color: blueviolet;
    padding: 0;
    margin-top: 0;
    margin-left: 10px;
    width: 250px;
    height: 150px;
}
/* Clip path used to crop out black lines */
.card-image-crop{
    margin-top: -12px;
    max-width: 250px;
    max-height: 150px;
    clip-path: inset(24px 0px 24px 0px);
}

.card-icon-border{
    width: 62px;
    height: 62px;
    margin-left: calc(50% - 30px);
    background-color: black;
    clip-path: inset(0px 0px 0px 0px round 80%);
    display: inline-block;
}

.card-icon{
    /* background-color: aquamarine; */
    width: 60px;
    height: 60px;
    padding: 0;
    margin-top: 1px;
    margin-left: calc(50% - 30px);
    clip-path: inset(0px 0px 0px 0px round 80%);
}


.scroll {
    position: relative;
    width: 50vw;
    height: 10%;
    min-height: 10px;
    background-color: #3a0b0b;
    overflow: hidden;
    z-index: 1;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
  }
  
.hoverCover{
    background-color: grey;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


span {
    font-size: 30px;
    display: inline-block;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
}