.bar{
    background-color: #696969;
    border-radius: 8px;
    width: 1170px;
    height: 50px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: -3px 8px 15px grey;
    padding: 0;
    display: inline-block;
    transition: all ease-in-out;
}

.barMiddle{
    width: 150px;
    height: 30px;
    padding: 0;
    margin-top: 10px;
    margin-left: calc(50% - 75px);
    background-color: #696969;
    display: inline-block;
}

.middleText{
    font-size: 25px;
    letter-spacing: 5px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
