.sideBarBody{
    width: 200px;
    height: 100%;
    padding-top: 100px;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #696969;
    
    display: block;
    position: fixed;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
}
.sideBarBody::-webkit-scrollbar{
    display: none;
}

.button{
    width: 0;
    height: 0;
    position: fixed;
    display: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.listBox{
    margin-top: 0px;
    margin-left: -40px;
    padding: 0;
    width: 300px;
    height: 50px;
    background-color: #696969;
    border-top: solid 1px grey;
    display: inline-block;
    transition: .3s;
}
.text{
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    width: auto;
    height: auto;
    color: white;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: justify;
    display: inline-block;
}
.listBox:hover{
    background-color: aqua;
}

.sideBarBodyHidden{
    width: 200px;
    height: 100%;
    padding-top: 100px;
    top: 0;
    left: -100%;
    z-index: 100;
    background-color: #696969;
    display: block;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left .3s ease-in-out;
}
.sideBarBodyHidden::-webkit-scrollbar{
    display: none;
}

.sideBarBodyNotHidden{
    width: 200px;
    height: 100%;
    padding-top: 100px;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #696969;
    display: block;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left .3s ease-in-out;
}
.sideBarBodyNotHidden::-webkit-scrollbar{
    display: none;
}

.form{
    left: 50px;
    right: 50px;
    display: block;
}

.dropdown{
    width: 200px;
    height: 30px;
    display: block;
    overflow-x: hidden;
}

.buttonClicked{
    top: 80px;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 100;
    background-color: red;
    position: fixed;
    display: block;
    cursor: pointer;
    transition: left .3s ease-in-out;
}

/* 1600px bc size of contentList + size of width * 2, this is because 200px from left and 200px from right */
@media screen and (max-width: 1600px)  {
    .sideBarBody{
        width: 200px;
        height: 100%;
        padding-top: 100px;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color: green;
        display: block;
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        transition: left .3s ease-in-out;
    }
    .button{
        top: 80px;
        left: 200px;
        width: 20px;
        height: 20px;
        z-index: 100;
        background-color: red;
        position: fixed;
        display: block;
        cursor: pointer;
        transition: left .3s ease-in-out;
    }
    .cross-clicked{
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        position: fixed;
        cursor: pointer;
        top: 80px;
        left: 200px;
        width: 20px;
        height: 20px;
        z-index: 100;
        background: red;
        transition: left .3s ease-in-out;

        &:before,
    &:after {
      content: '';
      position: absolute;
      top: (20px - 1px) / 2;
      left: 0;
      right: 0;
      height: 1px;
      background: black;
      border-radius: 1px;
    }
  
    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  
    span {
      display: block;
    }
    }
}

.cross {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: fixed;
    cursor: pointer;
    top: 80px;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 100;
    background: red;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: (20px - 1px) / 2;
      left: 0;
      right: 0;
      height: 1px;
      background: black;
      border-radius: 1px;
    }
  
    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  
    span {
      display: block;
    }
  
  }